[user]
	name = Andersonjm53
	email = seu-email@exemplo.com
[safe]
	directory = /storage/emulated/0/Download/Telegram/backupvksms/backupvksms
	directory = /storage/emulated/0/Download/Telegram/backupvksms/backupvksms
	directory = /storage/emulated/0/qpython/scripts3/
	directory = /storage/emulated/0/qpython/scripts3/
